* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  height: 100vh;
}

.left-column {
  width: 25%;
  background-color: #11578C;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 3px solid #000;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
}

.algo-list {
  list-style-type: none;
  padding: 0;
  width: 50%;
}

.algo-list li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #34495e;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.algo-list li:hover {
  background-color: #1abc9c;
}

.right-workspace {
  flex-grow: 1;
  background-color: #ecf0f1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
}

.dropdown select {
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.visualize-button {
  width: 30%;
  padding: 10px;
  background-color: #1abc9c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.visualize-button:hover {
  background-color: #16a085;
}

.clear-board button,
.clear-walls-weights button,
.clear-path button {
  width: 100%;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.remove-patterns {
  display: flex;
  gap: 10px;
}

.clear-board button:hover,
.clear-walls-weights button:hover,
.clear-path button:hover {
  background-color: #c0392b;
}

.speed {
  display: flex ;
  gap: 10px;
  align-items: center;
}

.speed label {
  display: block;
  margin-bottom: 5px;
}

.speed select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.color-codes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.color-code {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.color span {
  font-size: 14px;
}

.color.white {
  background-color: #ffffff;
}

.color.blue {
  background-color: #0000ff;
}

.color.yellow {
  background-color: #ffff00;
}

.color.black {
  background-color: #000000;
}

.partition-line {
  border: none;
  /* height: 1px; Increase the height */
  background-color: #fff; /* Ensure this color contrasts with the page background */
  margin: 10px 0; /* Adjust the margin as needed */
}

.node-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  gap:20px;
}

.start-node, .end-node {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.start-node span, .end-node span {
  margin-left: 8px;
}

.start-node svg, .end-node svg {
  font-size: 24px;
  color: #28a745; /* Green for start node */
}

.end-node svg {
  color: #dc3545; /* Red for end node */
}