* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Left portion css  */

.App {
  display: flex;
  height: 100%;
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
}

.left-column {
  width: 25%;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.app-title {
  font-size: 28px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid #34495e;
}

.instructions {
  border: 2px solid #f3441e ;
  border-radius: 8px; 
  width: 80%;
  padding: 15px; 
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.instructions h2 {
  font-size: 24px; 
  color: #f3441e; 
  margin-top: 0;
  margin-bottom:10px;
}

.instructions ol {
  padding-left: 20px;
  list-style-type: decimal; 
}

.instructions li {
  margin-bottom: 15px; 
  font-size: 16px; 
  line-height: 1.5; 
  position: relative; 
}

.instructions li::marker {
  color: #f3441e;
  font-weight: bold;
}


.algo-list {
  list-style-type: none;
  padding: 0;
  width: 80%;
}

.algo-list li {
  padding: 12px;
  margin-bottom: 12px;
  background-color: #34495e;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.algo-list li:hover {
  background-color: #1abc9c;
  transform: scale(1.05);
}

.dropdown {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdown select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ecf0f1;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.dropdown select:focus {
  border-color: #1abc9c;
}

.dropdown select.selected {
  background-color: #d1e7dd; /* Change this color to your desired selected color */
}

.visualize-pattern-button {
  width: 50%;
  padding: 10px;
  background-color: #1abc9c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.visualize-pattern-button:hover {
  background-color: #16a085;
  transform: scale(1.05);
}

.visualize-button {
  width: 50%;
  padding: 10px;
  background-color: #1abc9c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.visualize-button:hover {
  background-color: #16a085;
  transform: scale(1.05);
}

.remove-patterns {
  display: flex;
}

.clear-board button,
.clear-walls-weights button,
.clear-path button{
  width: 80%;
  padding: 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.clear-board button:hover,
.clear-walls-weights button:hover,
.clear-path button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.speed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-bottom: 20px;
}

.speed label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.speed select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ecf0f1;
  transition: border-color 0.3s ease;
}

.speed select:focus {
  border-color: #1abc9c;
}

.color-codes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  width: auto;
  margin: 0 auto;
}

.color-code {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.color span {
  font-size: 14px;
}

.color.green{
  background-color: #4caf50;
}

.color.red{
  background-color: #dc3545;
}
.color.white {
  background-color: #ffffff;
}

.color.blue {
  background-color: rgba(255, 229, 204, 0.9); 
}

.color.yellow {
  background-color: rgba(255, 0, 0);
}

.color.black {
  background-color: #021C34;
}

.partition-line {
  border: none;
  height: 1px;
  background-color: #fff;
  margin: 10px 0;
  width: 80%;
}

.node-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  gap: 10px;
  width: 80%;
}

.start-node, .end-node {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.start-node span, .end-node span {
  margin-left: 8px;
}

.start-node svg, .end-node svg {
  font-size: 24px;
  color: #28a745; /* Green for start node */
}

.end-node svg {
  color: #dc3545; /* Red for end node */
}



/* Play ground css */

.right-workspace {
  flex-grow: 1;
  background-color: #ecf0f1;
  padding: 20px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}


.playground-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.selected-info {
  font-size: 18px;
  background-color: #f9f9f9;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.selected-info p {
  margin: 0;
  color: #333;
}

.selected-info strong {
  color: #11578C;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .left-column {
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .right-workspace {
    width: 100%;
    padding: 10px;
  }

  .algo-list {
    width: 100%;
  }

  .dropdown,
  .speed,
  .color-codes,
  .node-icons {
    width: 100%;
  }

  .clear-board button,
  .clear-walls-weights button,
  .clear-path button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .app-title {
    font-size: 24px;
  }

  .algo-list li {
    padding: 10px;
    font-size: 14px;
  }

  .visualize-button,
  .clear-board button,
  .clear-walls-weights button,
  .clear-path button {
    padding: 10px;
    font-size: 14px;
  }

  .playground-title {
    font-size: 20px;
  }

  .selected-info {
    font-size: 16px;
  }
}